 .row {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(220px, auto));
     gap: 30px;
     text-align: center;
 }

 .container {
     padding: 10px;
 }

 .product {
     background-color: rgba(250, 235, 215, 0.566);
     padding: 10px;
     border-radius: 10px;
     box-sizing: border-box;
     border: solid rgb(250, 168, 60) 0.5px;
 }

 .product img {
     width: 200px;
     height: 200px;
     margin: 5px auto;
 }

 a {
     text-decoration: none;
     color: black;
     border: solid rgb(250, 168, 60) 0.5px;
     padding: 5px;
     cursor: pointer;
     border-radius: 5px;
 }

 .images {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(220px, auto));
     gap: 15px;
     text-align: center;
 }